<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body data-page="<%= body_data_page %>">
    <%= render 'layouts/info' %>
    <div class="container-fluid container-body">
      <%= yield %>
    </div>
  </body>
</html>
